@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-principal:#495057 ;
    --color-secundario:#000000 ;
    --color-terceiario: #0651b0;
    --fuente-Montserrat: "Montserrat", sans-serif;;
    --fuente-Krona-One: "Krona One", sans-serif;
    --fontSize-principal: 1.5rem;
}
*{
    padding: 0;
    border: 0;
    margin: 0;
}
body{
    background-color: var(--color-principal);
    color: var(--color-secundario);
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}



/*.cambioColor{
    color: wheat;
} */

.contenedor{
    display: flex;
    align-items: center;
    margin: 5% 15%;
    justify-content: space-between ;
    gap: 80px
}

.contenedor_contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contenedor_contenido_titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-Krona-One);
    color: var(--color-terceiario);
    
}

.contenedor_contenido_parrafo{
    font-size: var(--fontSize-principal);
    font-family: var(--fuente-Montserrat);
    font-weight: 600;
    
}

.contenedor_contenido_enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.contenedor_enlaces_contacto{
    font-family: var(--fuente-Krona-One);
    font-size: var(--fontSize-principal);
}

.contenedor_enlaces_contacto:hover{
    color:var(--color-terceiario);
}


.contenedor_contenido_enlaces_link{
     
    color: var(--color-secundario);
    width: 50%;
    /*height: 79px;*/
    /*box-sizing: border-box;*/
    text-align: center;
    padding: 21.5px  0;
    border-radius: 8px;
    font-family: var(--fuente-Montserrat);
    font-size: var(--fontSize-principal);
    font-weight: 600;
    text-decoration: none;
    border: 2px solid var(--color-terceiario);
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.contenedor_contenido_enlaces_link:hover{
        background-color: var(--color-terceiario);
        border: 2px solid var(--color-secundario);
}
.imagen{
    width: 50%;
}

.footer_link{
    background-color:var(--color-terceiario);
    
    text-align: center;
    padding: 24px 0;
    font-family: var(--fuente-Montserrat);
    font-size: var(--fontSize-principal);
    font-weight: 400;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--color-secundario);
    gap: 16px;
    cursor: pointer;
    
}

.footer_link:hover{
    font-weight: 600;
    text-decoration: underline;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header_menu{
    display: flex;
    gap: 80px;
}
.header_menu_link{
    font-family: var(--fuente-Montserrat);
    font-size: var(--fontSize-principal);
    font-weight: 600;
    color: var(--color-terceiario);
    text-decoration: none;
}

.header_menu_link:hover{
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 1200px){

    .header{
        padding: 5%;
    }

    .header_menu{
        justify-content: center;
    }
    .contenedor{
        flex-direction: column-reverse;
        padding: 5%;
       
    }

    .contenedor_contenido{
        width: auto;
    }
}

